@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes flip {
  0% { transform: rotateX(90deg); opacity: 0.2; }
  100% { transform: rotateX(0deg); opacity: 1; }
}

.tile-flip {
  animation: flip 260ms ease-out;
}
